<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="zooplaTest">
    <classes>
      <class name="testClass.PriceDescTest"/>
      <class name="testClass.SelectFifthPropertyTest"/>
      <class name="testClass.AgentVerifyTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
